<div class="container">
    <owl-carousel-o [options]="customOptions2">
        @for (slide of slidesStore; track slide.src; let i = $index) {
            <ng-template carouselSlide>
            <div class="p-3 text-center d-flex align-items-center justify-content-center" 
                style="height: 250px; width: 100%; position: relative;">
                <img [ngSrc]="slide.src"  
                    [alt]="slide.alt" 
                    [title]="slide.title"
                    [priority]="i === 0"
                    fill
                    style="object-fit: contain;">
            </div>
            </ng-template>
        } @empty {
            <div class="text-center">No hay imágenes disponibles</div>
        }
    </owl-carousel-o>
</div>